<div class="container">
  <div class="row">
    <div class="main" style="padding-top:80px;">
    <div class="col-sm-6 hidden-xs">
      <p><img src="<%= image_path "timeline-ios-app.png" %>" class="img-responsive"></p>
    </div>
    <div class="col-sm-6">
      <div class="message">
        <h1>Timeline</h1>
        <h2>Capture life's every moment and share.</h2>
        <hr>
        <p>Timeline is a free mobile app that enables people to share their life's every moment.
          Capture, edit and post your moments to your #timeline of choice. Follow friends, family and others who share the same interests.
        </p>
        <p>&nbsp;</p>
        <p><img src="<%= image_path "ios-app-store-download.png" %>" width="200"></p>
      </div>
    </div>
    </div>
  </div>
</div>
