<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <a href="<%= root_path %>"><%= image_tag "logo.png", class: "logo" %></a>
    </div>
    <div class="col-sm-12">

      <div class="content">

        <p align="center"><strong>Privacy Policy</strong></p>
        <p>&nbsp;</p>
        <p>Reebay, Inc. allows its users to share video and pictures online and to control who they share their online media with through its mobile app called Timeline. Reebay&rsquo;s privacy policy describes how it will collect, use, and share your information whenever you use Reebay&rsquo;s services whether you connect through the app or online at www.mytimelineapp.com. The foregoing privacy policy may be changed from time to time and may provide notice through its website at <a href="http://www.mytimelineapp.com">www.mytimelineapp.com</a> or by adding a statement on app before additional use of Reebay&rsquo;s services.</p>
        <p>Protecting your private information is our priority. This Statement of Privacy applies to Reebay, Inc., Timeline and any other services that Reebay may create or provide in the future, and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Reebay, Inc. include the Timeline app (&ldquo;App&rdquo;) and its subsidiaries. Timeline is a mobile app which allows users to share video and pictures, viewable on computers, desktops, mobile devices, and tablets. By using the App&rsquo;s services through a mobile device or website, you consent to the data practices described in this statement.</p>
        <p>&nbsp;</p>
        <p><strong>INFORMATION YOU PROVIDE TO US:</strong></p>
        <p>To use the App or to access the app through the Timeline website, you have to create an account. To do so, Reebay collects basic information including your username that you set up, a password that you create, an email address that Reebay can contact you at, a phone number, and your age or date of birth.</p>
        <p>&nbsp;</p>
        <p>At this time, Reebay does not collect debit or credit card numbers or associated account information, and any other security-related information. However, if Reebay does in the future, notice will be given through the app itself or through an update in this policy.</p>
        <p>&nbsp;</p>
        <p>As a user of Reebay services, you are in control of your own information. You can update and modify your online information, or delete it. To delete your information and/or account in the future, please visit your profile settings. Also note, you&rsquo;ll only be able to delete your information or account through the app.&nbsp; Further note that Reebay may retain certain information in a backup system for a limited period of time or as required by law. For more information about how we store and delete the messages you send or receive through the app, please read the &ldquo;<em>Account or Information Deletion</em>&rdquo; section a little farther down.</p>
        <p>&nbsp;</p>
        <p><strong><em>Collection of your Personal Information</em></strong></p>
        <p>Reebay may collect personally identifiable information, such as your name, email address, username and password. Reebay does not collect anonymous demographic information, which is not unique to you, such as your age and gender. We may gather additional personal or non-personal information in the future and if so, notice will be provided through the app or in an updated policy.</p>
        <p>&nbsp;</p>
        <p>Information about your computer hardware and software may be automatically collected by Reebay. This information can and may include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Reebay website. At this time, Reebay does not collect, store or track this information but may in the future. See the &ldquo;<em>Analytics</em>&rdquo; section below for more detailed information on how Reebay may share this information with other companies for understanding its user&rsquo;s movement and prefereance through the app.</p>
        <p>&nbsp;</p>
        <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Reebay&#39;s public app, this information may be collected and used by others.</p>
        <p>&nbsp;</p>
        <p>Reebay encourages you to review the privacy statements of websites you choose to link to from Reebay so that you can understand how those websites collect, use and share your information. Reebay is not responsible for the privacy statements or other content on websites outside of the Reebay&rsquo;s website.</p>
        <p>&nbsp;</p>
        <p><strong><em>Use of Your Personal Information </em></strong></p>
        <p>The app collects and uses your personal information to operate its app and website(s) and deliver the services you have requested. Therefore, if you choose not to have your information used by Timeline, it is essential that you do not sign up for any Reebay services or share your information with any other user of Timeline. Additionally, Reebay may also use your personally identifiable information, such as name and email address, to inform you of other products or services available from Reebay and its affiliates. Reebay may also contact you through surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>
        <p>&nbsp;</p>
        <p>Reebay does not sell, rent or lease its customer lists to third parties. Reebay may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Reebay, and they are required to maintain the confidentiality of your information.</p>
        <p>&nbsp;</p>
        <p>Reebay will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Reebay or the timeline app; (b) protect and defend the rights or property of Reebay; and, (c) act under exigent circumstances to protect the personal safety of users of Reebay, or the public.</p>
        <p>&nbsp;</p>
        <p><strong><em>Security of Your Personal Information</em></strong></p>
        <p>To secure your personal information from unauthorized access, use or disclosure, Reebay uses Parse servers to store your information. For instance, the information that you provide Reebay includes your email address, your username and password. The passwords you create are hashed with bcrypt. The emails and usernames will only be stored in Amazon servers which requires parse authorization and an additional authorization token which allows the app to store information from mobile applications on a complete backend platform. This parse platform helps to keep your information secure by providing only Reebay with permission keys to access that information whether it is provided through the timeline app or its website.&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><em>Account or Information Deletion</em></strong></p>
        <p>Reebay allows you to have control over your own account and how information will be shared with others. Therefore, if you ever want to delete any information shared through the app or website, you have the ability to delete your account and information by going to profile setting sin the timeline app. Please note that when you delete your account, all of your information is wiped clean from Reebay&rsquo;s databases and cannot be retrieved at a later time.</p>
        <p>&nbsp;</p>
        <p><strong>HOW REEBAY SHARES YOUR INFORMATION:</strong></p>
        <p>Timeline only uses video and pictures taken by the user with the app. The user must select to share their video or photo with other app users. Once that information is shared, it&rsquo;s no longer private. A timeline through the app is a batch of videos and photos put together automatically to create a one line video story.&nbsp; Reebay will only share your information when you share with another user or for analytical purposes for providing stellar customer service.</p>
        <p>&nbsp;</p>
        <p><strong><em>User Notice and Consent</em></strong></p>
        <p>By registering with Timeline to use its services for online sharing of pictures and videos, you consent to having your information shared online with other users that you choose to see your online profile and media. Timeline allows you to make your profile information private and also to control who you share your information with.&nbsp;</p>
        <p>&nbsp;</p>
        <p>Reebay also gives you the right to decline using its services whenever a new update is provided through its policy page or as a pop-up through the app of changes. Your continued use of Reebay&rsquo;s services after updates and notices have been given, suggests and will be an affirmative attestation that you have received notice and consent to Reebay&rsquo;s updated policy.</p>
        <p>&nbsp;</p>
        <p><strong><em>Use of Cookies</em></strong></p>
        <p>The Timeline website and app may use &quot;cookies&quot; to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
        <p>&nbsp;</p>
        <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize your timeline app pages, or register on the Timeline site, a cookie helps Timeline to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as name and email address, and so on. When you return to the same Timeline website, the information you previously provided can be retrieved, so you can easily use the app features that you customized.</p>
        <p>&nbsp;</p>
        <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Timeline app services or websites you visit.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><em>Analytics and Advertising Services by Third Parties</em></strong></p>
        <p>Reebay collects analytical information based on how you use its services. Therefore, that analytic information will be shared with other companies to determine what part of the Timeline app services you desire more. Included with the information that other companies may acquire from Reebay based on your usage involves the following: cookies, web beacons, and other technologies on Reebay. Additionally, companies may collect information such as unique device identifiers, device manufacturer and operating system, IP address, browser type, pages viewed, session start/stop time, links clicked, and conversion information. This information may be used to, among other things, analyze and track data, determine the popularity of certain content, and better understand your online activity with Timeline. Currently, Reebay uses parse for analytics For more information about parse and its privacy practices, visit at<a href="https://parse.com/about">https://parse.com/about</a>. We also use google Analytics tracking through our app. You may get more information on google analytics by vising their website at<a href="http://www.google.com/analytics/">http://www.google.com/analytics/</a>.</p>
        <p>&nbsp;</p>
        <p>At this time, Reebay does not allow other third-parties to advertise on its website. This may be something to reconsider in the future and notice will be given to any Reebay user through an updated version of this policy. Also, Reebay does not track its users&rsquo; locations or respond to do-not-track signals. However, if Reebay does in the future, notice will be given through an updated privacy policy.</p>
        <p>&nbsp;</p>
        <p><strong>CHILDREN UNDER THIRTEEN:</strong></p>
        <p>Pursuant to the Children&rsquo;s Online Privacy Protection Act of 1998, Reebay does not knowingly collect personally identifiable information from children under the age of thirteen for purposes of the app or any other service that it currently or may provide in the future. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>
        <p>&nbsp;</p>
        <p><strong>OPT-OUT AND UNSUBSCRIBE:</strong></p>
        <p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information provided by Reebay. Users may opt-out of receiving any or all communications from Reebay by contacting us here:</p>
        <p>&nbsp;</p>
        <p>Web page: &nbsp;&nbsp;&nbsp;&nbsp; www.mytimelineapp.com</p>
        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:info@mytimelineapp.com">info@mytimelineapp.com</a></p>
        <p>&nbsp;</p>
        <p><strong>CHANGES TO THIS STATEMENT:</strong></p>
        <p>Reebay will occasionally update this Statement of Privacy to reflect company and customer feedback. Reebay encourages you to periodically review this Statement to be informed of how Reebay is protecting your information or how information is being used on the app.</p>
        <p>&nbsp;</p>
        <p><strong>CONTACT INFORMATION:</strong></p>
        <p>Reebay welcomes your questions or comments regarding this Statement of Privacy. If you believe that Reebay has not adhered to this Statement, please contact Reebay at: <a href="mailto:info@reebayinc.com">info@reebayinc.com</a></p>
        <p>&nbsp;</p>
        <p>Effective as of September 14, 2015</p>
        <p>&nbsp;&nbsp;</p>

      </div>

    </div>
  </div>
</div>