<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <a href="<%= root_path %>"><%= image_tag "logo.png", class: "logo" %></a>
    </div>
    <div class="col-sm-12">

      <script type="text/javascript" src="http://form.jotform.us/jsform/52876414498166"></script>

    </div>
  </div>
</div>