# Using Amazon RDS here, dev & prod same db
development:
  adapter: mysql2
  encoding: utf8
  charset: utf8
  collation: utf8_unicode_ci
  database: ebdb
  username: root
  password: root
  pool: 5
  host: localhost
  #  socket: /Applications/MAMP/tmp/mysql/mysql.sock
  port: 8889


# Using Amazon RDS here, dev & prod same db
production:
  adapter: mysql2
  encoding: utf8
  charset: utf8
  collation: utf8_unicode_ci
  database: ebdb
  username: timelinedb
  password: timeline2015?
  host: aace5pgg8hv82l.c38mdvslesyh.us-west-2.rds.amazonaws.com
  port: 3306


#
#production:
#  adapter: mysql2
#  encoding: utf8mb4
#  charset: utf8mb4
#  collation: utf8mb4_unicode_ci
#  database: <%= ENV['RDS_DB_NAME'] %>
#  username: <%= ENV['RDS_USERNAME'] %>
#  password: <%= ENV['RDS_PASSWORD'] %>
#  host: <%= ENV['RDS_HOSTNAME'] %>
#  pool: 5
#  port: <%= ENV['RDS_PORT'] %>