# Sample configuration file for Sidekiq.
# Options here can still be overridden by cmd line args.
#   sidekiq -C config.yml
---
:verbose: false
:concurrency: 5
# Set timeout to 8 on Heroku, longer if you manage your own systems.
:timeout: 30
:queues:
  - [paperclip, 3]
  - [high, 5]
  - [default, 2]
  - [low, 1]
#
#production:
#  :concurrency: 5
#  :pidfile: /home/deploy/apps/Timeline/tmp/pids/sidekiq.pid
#  :logfile: /home/deploy/apps/Timeline/log/sidekiq.log

production:
  :concurrency: 5
  :pidfile: /home/babar/RubymineProjects/Timeline/tmp/pids/sidekiq.pid
  :logfile: /home/babar/RubymineProjects/Timeline/log/sidekiq.log


development:
  :concurrency: 5
  :pidfile: /home/babar/RubymineProjects/Timeline/tmp/pids/sidekiq.pid
  :logfile: /home/babar/RubymineProjects/Timeline/log/sidekiq.log